<article class="post">
    <div class="post-content">
        <p class="post-text">
            {{text}}
        </p>
        <p class="post-date">
            {{date}}
        </p>
        <p class="post-time">
            {{time}}
        </p>
        <p class="post-district">
            {{district}}
        </p>
        <p class="post-neighborhood">
            {{neighborhood}}
        </p>
        <p class="post-severity">
            {{severity}}
        </p>
    </div>
</article>